<h3 class="text-decoration-underline">About TextAnyone</h3>
<h4>What is TextAnyone?</h4>
<p>SMS, also known as "text messaging," is one of the most popular and convenient methods 
of communication in use today. Using this protocol, messages may be sent between any two 
SMS-enabled devices.</p>
<p>Like VoIP (the protocol used by your phone for real-time voice and video communication), 
SMS allows for fast and efficient exchange of information over vast distances. However, 
while VoIP is optimal for sending and receiving large amounts of data between continuously 
connected hosts, there are times when all you need is a short message, consisting of a few 
bytes of encoded textual characters. Plus, sometimes you just don't feel like talking on the 
phone. That's where SMS comes in.</p>
<p>But what if you don't have your phone with you? Perhaps you're at your desk, and you think 
of something important that you want to text your friend. You reach for your phone, and 
suddenly realize that you've left it in your car. It's a long way out to the parking lot, and 
you're pretty busy right now. What to do?</p>
<p>Enter TextAnyone, the app that lets you text from a website! Just enter the phone number 
you want to send a text to, and hit the submit button. You'll be taken to a page where you can 
begin a text conversation with your intended recipient, just as if you had your phone in your 
hand!</p>
<h4>How does it work?</h4>
TextAnyone is a Ruby on Rails application that integrates with the Twilio API to send messages 
to ten-digit US and Canadian phone numbers.