<h3>Contact Me!</h3>
<table class="table">
  <tr>
    <td> Michael Rago</td>
  </tr>
  <tr>
    <td>michael.rago@gmail.com</td>
  </tr>
  <tr>
    <td><%= link_to "My Website", "https://www.michaelrago.com" %></td>
  </tr>
</table>